<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.vnews">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.intro.ActivityIntro" />
        <activity android:name=".activity.me.setting.SettingActivity" />
        <activity android:name=".activity.me.user.UserActivity" />
        <activity android:name=".activity.launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.register.RegisterActivity" />

        <service android:name=".service.client.MessageService" />

        <activity android:name=".activity.news.detail.NewsDetailActivity" />
        <activity
            android:name=".activity.word.detail.WordDetailActivity"
            android:label="@string/title_activity_word_detail"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.word.search.WordSearchActivity" />
        <activity android:name=".activity.word.collect.WordCollectActivity" />
        <activity android:name=".activity.me.news.NewsMeActivity" />
        <activity android:name=".activity.news.detail.comment.NewsCommentActivity" />
        <activity android:name=".activity.me.comment.MeCommentActivity" />
        <activity android:name=".activity.word.recite.WordReciteActivity" />
        <activity android:name=".activity.me.info.InfoSettingActivity"></activity>
    </application>

</manifest>